HELP.md
target/
/.idea/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
src/main/java/dev.env
src/main/resources/secrets.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Ignore all .txt, .log, .exe, and .jar files
*.txt
*.log
*.exe
*.jar
logs/*

build/
target/
