CHAT_LOG_DIR=
CHAT_JSON_DIR=
CHAT_LOG_FILENAME=
GPT_CHAT_SYSTEM_INITIAL_MESSAGE=
CHAT_SERVER_PORT=

CHAT_DB_HOST=
CHAT_DB_NAME=
CHAT_DB_Port=
CHAT_DB_USERNAME=
CHAT_DB_PASSWORD=

CHAT_MODEL=
CHAT_MAX_TOKENS=

TS_HOST=
TS_HTTP_PORT=
TS_BOT_EMAIL=
TS_BOT_PW=
TS_BOT_SLACK_USER_ID=
SLACK_CHANNEL_ID=
SLACK_CHANNEL_ID_TEST=
SLACK_CHANNEL_ID_PROD=

CHAT_ALLOW_FUNCTION_assignTaskSystemIssueTool=0
CHAT_ALLOW_FUNCTION_createJiraIssueTool=0
CHAT_ALLOW_FUNCTION_createTaskSystemIssueTool=1
CHAT_ALLOW_FUNCTION_getIssuesBySlackUserIdTool=0
CHAT_ALLOW_FUNCTION_getAllTaskSystemIssuesTool=0
CHAT_ALLOW_FUNCTION_getAllJiraIssuesTool=1
CHAT_ALLOW_FUNCTION_githubGetReposTool=0

GPT_CHAT_API_KEY=
SLACK_BOT_OAUTH_TOKEN=
JIRA_KEY=
TOKEN_GITHUB=

